<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>

    </head>
    <body>
        Some people:
        <ol>
            <li>My person</li>
            <li th:each="person : ${people}" th:text="${person}"></li>
        </ol>
        <div class="col-8 mx-auto ">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">DOB</th>
                    <th scope="col">salary</th>
                </tr>
                </thead>
                <tbody>
                <tr  th:each="person : ${people}">
                    <th scope="row" th:text="${person.id}">1</th>
                    <td th:text="${person.firsname}">Mark</td>
                    <td th:text="${person.lastname}">Otto</td>
                    <td th:text="${person.dob}">@mdo</td>
                    <td th:text="${person.salary}">@mdo</td>
                </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>